// Colors:
$red: #f64649

// Main HTML Items:
html
	height: 100%
html,body
	width: 100%
	margin: 0
body
	background-image: url('../images/background.jpg')
	background-position: 50% 50% !important
	background-size: cover
	font-family: 'Oswald', sans-serif !important
a
	&:hover, &:active
		text-decoration: none !important
		color: $red !important
	
section
	width: 100%
	margin: 0
	.page
		padding: 25px

// ID's:
#header
	background: transparent
	height: 90%
	#header-text
		padding: 20px
		text-align: center
		position: relative
		width: 100%
		color: white
		background: rgba(black, 0.7)
		margin: none
		top: 50% !important
		transform: translateY(-50%)
		#profile-photo
			max-width: 200px
#about
	background: $red
	height: 400px

// Classes:
.nav-brand
	margin: 10px !important
	height: 30px
	a
		color: white
		font-size: 30px
		line-height: 100%
		&:hover, &:active
			color: $red

// Bootstrap Modifiers:
.navbar-custom
	color: white !important
	padding: 0 !important
	margin: 0 !important
	background-color: rgba(#000, 0.9) !important
	background-image: none !important
	border-top: 3px solid $red !important
	border-bottom: none !important
	.nav
		// float: right
		li
			margin: 0 5px
		.active, li:hover
			a
				background-color: $red !important
				background-image: none !important
		li > a
			font-size: 17px
			color: white !important

